<div data-controller="analytics">
  <h1 class="my-5">This article will help you get better at reading!</h1>
  <%= @version.content.html_safe %>
  <div class="mt-5">
      Thanks a lot for reading the article! <a data-action="click->analytics#trackSignup" class="bg-green-800 text-white px-5 py-2 rounded" href="/signup">SIGN UP</a> for
      Blinkist.
  </div>
</div>
